@import "../../assets/images/styles/variables";

.skills {
  width: 100%;
  background-color: $background-color;
  border-bottom: 1px solid $border-color;
  & .max-width {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;

    padding: 25px 15px;
    margin-right: auto;
    margin-left: auto;

    transition: 1s;

    & .skill-box {
      display: block;

      background: #23232354;
      color: $white-character;

      border-radius: 10px;
      font-size: 18px;
      line-height: 45px;

      height: 100%;
      width: 33%;
      max-width: 380px;

      padding: 25px 45px;
      h2 {
        text-align: center;
      }
    }
  }
  &__header {
    width: 100%;
    text-align: center;

    font-size: 40px;
    font-weight: 500;
    background-color: $background-color;

    padding: 15px 5px 25px;
    border-bottom: 1px solid $border-color;

    .title {
      position: relative;
      color: $white-character;
    }
    .title::before {
      content: "";
      position: absolute;
      bottom: -7px;
      left: 50%;

      width: 75px;
      height: 3px;

      background: $border-color;
      transform: translateX(-50%);
    }
  }
}

@media (min-width: 1300px) {
  .max-width {
    padding: 25px 100px !important;
  }
}
@media (max-width: 1302px) {
  .skills {
    & .max-width {
      flex-direction: column;
      transition: 1s ease-in-out;
      align-items: center;
      & .skill-box {
        border-radius: 0px;
        width: 500px;
        h2 {
          text-align: left;
        }
      }
      & .box1 {
        border-radius: 10px 10px 0px 0px;
      }
      & .box3 {
        border-radius: 0px 0px 10px 10px;
      }
    }
  }
}
@media (max-width: 768px) {
  .skills .max-width .skill-box {
    font-size: 15px;
    h2 {
      font-size: 20px;
    }
  }
}
@media (max-width: 380px) {
  .skills {
    & .max-width {
      & .skill-box {
        width: 100%;
        margin: 0;
        flex-wrap: wrap;
      }
    }
  }
}
