@import "../../assets/images/styles/variables";

.exp {
  width: 100%;
  background-color: $background-color;
  & .max-width {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  &__header {
    width: 100%;
    text-align: center;

    font-size: 40px;
    font-weight: 500;
    box-shadow: $box-shadow-title;
    background-color: #fff;

    padding: 15px 5px 25px;
    margin-bottom: 20px;

    .title {
      position: relative;
      color: black;
    }
    .title::before {
      content: "";
      position: absolute;
      bottom: -7px;
      left: 50%;

      width: 180px;
      height: 3px;

      background: #111;
      transform: translateX(-50%);
    }
  }
}
