$background-color: #000;
$white-background: #fff;
$white-character: #fff;
$blue-character: #30cef6;
$title-color: #a8aab3;
$box-shadow-title: 0 3px 3px 0 rgba(1, 2, 2, 0.05);
$border-color: #2c2b2b;
$box-color: #1d1d1d;
